{% load staticfiles %}

<!DOCTYPE html>

<html class="no-js" lang="es-CL">



<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Llegue a Chile</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/argon.css' %}">
    <link rel="stylesheet" href="{% static 'css/argon.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="{% static '//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="{% static 'https://use.fontawesome.com/releases/v5.3.1/css/all.css' %}" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        -->
    <!-- crossorigin="anonymous"> -->

    <!-- script
    ================================================== -->
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/pace.min.js' %}"></script>
    <script src="{% static 'http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js' %}"></script>
    <script src="{% static '//code.jquery.com/jquery-1.11.1.min.js' %}"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/x-icon">

</head>

<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">

        <div id="nav">
            <!-- Top Nav -->
            <div id="nav-top">
                <div class="container">
                    <!-- social -->
                    <ul class="nav-social">
                        <li>
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /social -->

                    <!-- logo -->
                    <div class="nav-logo">
                        <a href="index.html" class="logo">
                            <img src="{% static 'images/logo.png' %}" alt="">
                        </a>
                    </div>
                    <!-- /logo -->

                    <!-- search & aside toggle -->
                    <div class="nav-btns">
                        <button class="aside-btn">
                            <i class="fa fa-bars"></i>
                        </button>
                        <button class="search-btn">
                            <i class="fa fa-search"></i>
                        </button>
                        <div id="nav-search">
                            <form>
                                <input class="input" name="search" placeholder="Enter your search...">
                            </form>
                            <button class="nav-close search-close">
                                <span></span>
                            </button>
                        </div>
                    </div>
                    <!-- /search & aside toggle -->
                </div>
            </div>
            <!-- /Top Nav -->

            <!-- Main Nav -->
            <div id="nav-bottom">
                <div class="container">
                    <!-- nav -->
                    <ul class="nav-menu">
                        <li class="has-dropdown">
                            <a href="index.html">Inicio</a>
                        </li>
                        <li class="has-dropdown">
                            <a href="#about">Presentación</a>

                        </li>
                        <li class="has-dropdown megamenu">
                            <a href="#">Chile</a>
                            <div class="dropdown">
                                <div class="dropdown-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h4 class="dropdown-heading">Categorias</h4>
                                            <ul class="dropdown-list">
                                                <li>
                                                    <a href="trabajo.html">Trabajo</a>
                                                </li>
                                                <li>
                                                    <a href="vivienda.html">Vivienda</a>
                                                </li>
                                                <li>
                                                    <a href="educacion.html">Educación</a>
                                                </li>
                                                <li>
                                                    <a href="salud.html">Salud</a>
                                                </li>
                                                <li>
                                                    <a href="transporte.html">Transporte</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <h4 class="dropdown-heading">Trabajo</h4>
                                            <ul class="dropdown-list">
                                                <li>
                                                    <a href="#">Trabajador/a</a>
                                                </li>
                                                <li>
                                                    <a href="#">Emprender</a>
                                                </li>
                                                <li>
                                                    <a href="#">Empleado/a Domestica</a>
                                                </li>
                                                <li>
                                                    <a href="#">Embarazo</a>
                                                </li>
                                            </ul>
                                            <h4 class="dropdown-heading">Vivienda</h4>
                                            <ul class="dropdown-list">
                                                <li>
                                                    <a href="#">Subsidio habitacional</a>
                                                </li>
                                                <li>
                                                    <a href="#">Alquileres</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <h4 class="dropdown-heading">Educación</h4>
                                            <ul class="dropdown-list">
                                                <li>
                                                    <a href="#">Básica y media</a>
                                                </li>
                                                <li>
                                                    <a href="#">Universitaria</a>
                                                </li>
                                            </ul>
                                            <h4 class="dropdown-heading">Salud</h4>
                                            <ul class="dropdown-list">
                                                <li>
                                                    <a href="#">Derechos</a>
                                                </li>
                                                <li>
                                                    <a href="#">Pública</a>
                                                </li>
                                                <li>
                                                    <a href="#">Privada</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <h4 class="dropdown-heading">Transporte</h4>
                                            <ul class="dropdown-list">
                                                <li>
                                                    <a href="#">Transantiago</a>
                                                </li>
                                                <li>
                                                    <a href="#">Metro</a>
                                                </li>
                                                <li>
                                                    <a href="#">Ciclovias</a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#">Conocer</a>
                        </li>
                        <li>
                            <a href="#">Documentación</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn" data-toggle="modal" data-target="#exampleModal">Login</a>
                        </li>
                    </ul>
                    <!-- /nav -->
                </div>
            </div>
            <!-- /Main Nav -->
            <!-- Modal login -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form method="POST" action="{% url "avisos" %}" role="login">
                            {% csrf_token %}
                            <img src="{% static 'images/logo.png' %}" class="img-responsive" alt="" />
                            <input type="email" name="nombre_usuario" placeholder="Email" required class="form-control input-lg" />

                            <input type="password" class="form-control input-lg" id="password" placeholder="Password" required="" />


                            <div class="pwstrength_viewport_progress"></div>


                            <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Ingresar</button>
                            <div>
                                <a href="#">Crear cuenta</a> or
                                <a href="#">Olvidé mi contraseña</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

            <!-- Aside Nav -->
            <div id="nav-aside">
                <ul class="nav-aside-menu">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li class="has-dropdown">
                        <a>Chile</a>
                        <ul class="dropdown">
                            <li>
                                <a href="#">Lifestyle</a>
                            </li>
                            <li>
                                <a href="#">Fashion</a>
                            </li>
                            <li>
                                <a href="#">Technology</a>
                            </li>
                            <li>
                                <a href="#">Travel</a>
                            </li>
                            <li>
                                <a href="#">Health</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="about.html">About Us</a>
                    </li>
                    <li>
                        <a href="contact.html">Contacts</a>
                    </li>
                    <li>
                        <a href="#">Advertise</a>
                    </li>
                </ul>
                <button class="nav-close nav-aside-close">
                    <span></span>
                </button>
            </div>
            <!-- /Aside Nav -->
        </div>

        <nav class="header-nav">

            <a href="#0" class="header-nav__close" title="close">
                <span>Close</span>
            </a>

            <div class="header-nav__content">
                <h3>Navigation</h3>

                <ul class="header-nav__list">
                    <li class="current">
                        <a class="smoothscroll" href="#home" title="home">Inicio</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Presentación</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Noticias</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Trabajo</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Vivienda</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Educación</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Salud</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Transporte</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Conocer</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Documentación</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Ayudar</a>
                    </li>
                </ul>

                <ul class="header-nav__social">
                    <li>
                        <a href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>

                </ul>

            </div>
            <!-- end header-nav__content -->

        </nav>
        <!-- end header-nav -->

        <a class="header-menu-toggle" href="#0">
            <span class="header-menu-text"></span>
            <span class="header-menu-icon"></span>
        </a>

    </header>
    <!-- end s-header -->


    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="{% static 'images/hero-bg.jpg' %}"
        data-natural-width=3000 data-natural-height=2000 data-position-y=center>

        <div class="overlay"></div>
        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">

                <h3>Bienvenido a Llegué a Chile!</h3>

                <h1>
                    Guía para migrantes
                    <br> Todo lo que necesitas saber para estar en Chile.

                </h1>

                <div class="home-content__buttons">
                    <a href="#contact" class="smoothscroll btn btn--stroke">
                        Publicar un aviso
                    </a>
                    <a href="#about" class="smoothscroll btn btn--stroke">
                        Necesito ayuda!
                    </a>
                </div>

            </div>

            <div class="home-content__scroll">
                <a href="#about" class="scroll-link smoothscroll">
                    <span>Ir abajo</span>
                </a>
            </div>

            <div class="home-content__line"></div>

        </div>
        <!-- end home-content -->


        <ul class="home-social">
            <li>
                <div class="dropdown">
                    <li href="#0">
                        <i class="icon-settings" aria-hidden="true">
                            <img src="{% static 'images/idiomas.png' %}" alt="">
                        </i>
                        <span>Language</span>
                    </li>

                </div>
            </li>

        </ul>
        <!-- end home-social -->

    </section>
    <!-- end s-home -->


    <!-- about
    ================================================== -->
    <section id='about' class="s-about" data-parallax="scroll" data-image-src="{% static 'images/isla.jpg' %}">

        <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead subhead--dark"></h3>
                <h1 class="display-1 display-1--light">Presentación</h1>
            </div>

        </div>
        <!-- end section-header -->

        <div class="text-center">
            <div class="card-text">
                <p class="lead">
                    <em>
                        Las personas que deciden migrar a Chile deben tramitar permisos o visas que autoricen su estadía en el país, tan pronto como
                        llegan. Estas autorizaciones son entregadas por el Ministerio del Interior y Seguridad Pública a
                        través del Departamento de Extranjería y Migración en la Provincia de Santiago, y a través de las
                        Gobernaciones Provinciales en el resto del país. Debido a la gran cantidad de información y a las
                        diferencias que existen entre países, puede resultar difícil entender los requisitos y pasos que
                        usted debe seguir para obtener una visa. Por eso se ha elaborado esta página, que contiene la información
                        necesaria para iniciar y completar su proceso de regularización migratoria. Aquí encontrará información
                        sobre los distintos permisos de residencia que existen en Chile, un glosario con diferentes términos
                        empleados y sus significados, y las direcciones de las oficinas de Extranjería en el territorio nacional.
                        Además contiene información sobre los beneficios y derechos sociales a los que usted puede acceder
                        en Chile, relacionados con Educación, Salud, Trabajo, Vivienda y Justicia. Esperamos que este material
                        sea de utilidad para usted y su familia, y le ayude a contar con una buena calidad de vida en Chile.
                    </em>
                </p>
            </div>
        </div>
        <!-- end about-desc -->


        <div class="about__line"></div>

    </section>
    <!-- end s-about -->


    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="row section-header" data-aos="fade-up" data-parallax="scroll">
            <div class="col-full">
                <h3 class="subhead">Noticias</h3>
            </div>
        </div>

        <div class="container">
            <!-- row -->
            <div id="hot-post" class="row hot-post">
                <div class="col-md-8 hot-post-left">
                    <!-- post -->
                    <div class="post post-thumb">
                        <a class="post-img" href="blog-post.html">
                            <img src="{% static 'images/trabajadores.jpg' %}" alt="">
                        </a>
                        <div class="post-body">
                            <div class="post-category">
                                <a href="category.html"></a>
                            </div>
                            <h3 class="post-title title-lg">
                                <a href="blog-post.html">La mitad de las pymes chilenas dice tener trabajadores extranjeros</a>
                            </h3>
                            <ul class="post-meta">
                                <li>
                                    <a href="https://www.latercera.com/pulso/noticia/estudio-la-mitad-las-pymes-chilenas-dice-trabajadores-extranjeros/195555/">La Tercera</a>
                                </li>
                                <li>20 Abril 2018</li>
                            </ul>
                        </div>
                    </div>
                    <!-- /post -->
                </div>
                <div class="col-md-4 hot-post-right">
                    <!-- post -->
                    <div class="post post-thumb">
                        <a class="post-img" href="blog-post.html">
                            <img src="{% static 'images/visa.jpg' %}" alt="">
                        </a>
                        <div class="post-body">
                            <div class="post-category">
                                <a href="category.html"></a>
                            </div>
                            <h3 class="post-title">
                                <a href="blog-post.html">Mesa sindical propone visa temporal para extranjeros</a>
                            </h3>
                            <ul class="post-meta">
                                <li>
                                    <a href="https://www.latercera.com/negocios/noticia/mesa-sindical-propone-visa-temporal-extranjeros/97192/">La Tercera</a>
                                </li>
                                <li>12 Marzo 2018</li>
                            </ul>
                        </div>
                    </div>
                    <!-- /post -->

                    <!-- post -->
                    <div class="post post-thumb">
                        <a class="post-img" href="blog-post.html">
                            <img src="{% static 'images/nacionalidad89.PNG' %}" alt="">
                        </a>
                        <div class="post-body">
                            <div class="post-category">
                                <a href="category.html"></a>
                                <a href="category.html"></a>
                            </div>
                            <h3 class="post-title">
                                <a href="blog-post.html">Gobierno entrega nacionalidad chilena a 89 extranjeros (Video)</a>
                            </h3>
                            <ul class="post-meta">
                                <li>
                                    <a href="https://www.24horas.cl/nacional/gobierno-entrega-nacionalidad-chilena-a-89-extranjeros-gracias-por-dejar-espacio-para-construir-un-futuro-con-nosotros-2817686">24 horas</a>
                                </li>
                                <li>14 Septiembre 2018</li>
                            </ul>
                        </div>
                    </div>
                    <!-- /post -->
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->





    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <!-- row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2 class="title">Ofertas Laborales</h2>
                        </div>
                    </div>
                    <!-- post -->
                    <div class="col-md-4">
                        <div class="post post-sm">
                            <a class="post-img" href="blog-post.html">
                                <img src="{% static './images/picking.jpg' %}" alt="">
                            </a>
                            <div class="post-body">
                                <div class="post-category">
                                    <a href="category.html"></a>
                                </div>
                                <h3 class="post-title title-sm">
                                    <a href="blog-post.html">Operadores Picking Quilicura, El cortijo</a>
                                </h3>
                                <ul class="post-meta">
                                    <li>
                                        <a href="http://www.laborum.cl/empleos/operadores-picking-quilicura-el-cortijo-consultora-y-administradora-de-rr.-hh.-s.-a.-1112723789.html?indiceAviso=0">Laborum</a>
                                    </li>
                                    <li>20 Abril 2018</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /post -->

                    <!-- post -->
                    <div class="col-md-4">
                        <div class="post post-sm">
                            <a class="post-img" href="blog-post.html">
                                <img src="{% static './images/aseo.jpg' %}" alt="">
                            </a>
                            <div class="post-body">
                                <div class="post-category">
                                    <!-- <a href="category.html"> </a>
                                        <a href="category.html"> </a> -->
                                </div>
                                <h3 class="post-title title-sm">
                                    <a href="blog-post.html">Auxiliar de aseo / Quilicura</a>
                                </h3>
                                <ul class="post-meta">
                                    <li>
                                        <a href="http://www.laborum.cl/empleos/auxiliar-de-aseo-quilicura-tawa-chile-sa-1112725201.html?avisoSimilar=true">Laborum</a>
                                    </li>
                                    <li>20 Abril 2018</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /post -->

                    <!-- post -->
                    <div class="col-md-4">
                        <div class="post post-sm">
                            <a class="post-img" href="blog-post.html">
                                <img src="{% static './images/operario.jpg' %}" alt="">
                            </a>
                            <div class="post-body">
                                <div class="post-category">
                                    <a href="category.html"></a>
                                </div>
                                <h3 class="post-title title-sm">
                                    <a href="blog-post.html">Operario turno PM para tienda ubicada en AIEP de Bellavista! de lunes a sábado!</a>
                                </h3>
                                <ul class="post-meta">
                                    <li>
                                        <a href="http://www.laborum.cl/empleos/operario-turno-pm-para-tienda-ubicada-en-aiep-de-bellavista-de-lunes-a-sabado-1112663574.html?indiceAviso=0">Laborum</a>
                                    </li>
                                    <li>20 Abril 2018</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /post -->
                </div>
                <!-- /row -->

                <!-- row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2 class="title">Documentación</h2>
                        </div>
                    </div>
                    <!-- post -->
                    <div class="col-md-4">
                        <div class="post post-sm">
                            <a class="post-img" href="blog-post.html">
                                <img src="{% static 'images/viajar-documentacion.jpg' %}" alt="">
                            </a>
                            <div class="post-body">
                                <div class="post-category">
                                    <a href="category.html">Documentación</a>
                                </div>
                                <h3 class="post-title title-sm">
                                    <a href="blog-post.html">¿Que documentos debo tener para viajar?</a>
                                </h3>
                                <ul class="post-meta">
                                    <li>
                                        <a href="author.html">Fundación Interpreta</a>
                                    </li>
                                    <li>20 April 2018</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /post -->

                    <!-- post -->
                    <div class="col-md-4">
                        <div class="post post-sm">
                            <a class="post-img" href="blog-post.html">
                                <img src="{% static 'images/llegar-documentacion.jpg' %}" alt="">
                            </a>
                            <div class="post-body">
                                <div class="post-category">
                                    <a href="category.html">Documentación</a>
                                </div>
                                <h3 class="post-title title-sm">
                                    <a href="blog-post.html">¿Que debo hacer al momento de llegar a Chile?</a>
                                </h3>
                                <ul class="post-meta">
                                    <li>
                                        <a href="author.html">Fundación Interpreta</a>
                                    </li>
                                    <li>20 April 2018</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /post -->

                    <!-- post -->
                    <div class="col-md-4">
                        <div class="post post-sm">
                            <a class="post-img" href="blog-post.html">
                                <img src="images/visa-documentacion.jpg" alt="">
                            </a>
                            <div class="post-body">
                                <div class="post-category">
                                    <a href="category.html">Documentación</a>
                                </div>
                                <h3 class="post-title title-sm">
                                    <a href="blog-post.html">¿Cuanto tiempo puedo permanecer como turista?</a>
                                </h3>
                                <ul class="post-meta">
                                    <li>
                                        <a href="author.html">Fundación Interpreta</a>
                                    </li>
                                    <li>20 April 2018</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /post -->
                </div>
                <!-- /row -->

                <!-- row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2 class="title">Trabaja en Chile</h2>
                        </div>
                    </div>
                    <!-- post -->
                    <div class="col-md-4">
                        <div class="post post-sm">
                            <a class="post-img" href="blog-post.html">
                                <img src="images/trabajo-600x330.jpg" alt="">
                            </a>
                            <div class="post-body">
                                <div class="post-category">
                                    <a href="category.html">Trabajo</a>
                                </div>
                                <h3 class="post-title title-sm">
                                    <a href="blog-post.html">¿Que documentos necesito para trabajar en Chile?</a>
                                </h3>
                                <ul class="post-meta">
                                    <li>
                                        <a href="author.html"></a>
                                    </li>
                                    <li>20 April 2018</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /post -->

                    <!-- post -->
                    <div class="col-md-4">
                        <div class="post post-sm">
                            <a class="post-img" href="blog-post.html">
                                <img src="images/jobcontrato-1200x600.jpg" alt="">
                            </a>
                            <div class="post-body">
                                <div class="post-category">
                                    <a href="category.html">Trabajo</a>
                                </div>
                                <h3 class="post-title title-sm">
                                    <a href="blog-post.html">¿Se requiere tener permiso para trabajar en Chile?</a>
                                </h3>
                                <ul class="post-meta">
                                    <li>
                                        <a href="author.html">Chile te recibe</a>
                                    </li>
                                    <li>20 April 2018</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /post -->

                    <!-- post -->
                    <div class="col-md-4">
                        <div class="post post-sm">
                            <a class="post-img" href="blog-post.html">
                                <img src="images/derechos-trabajo.jpg" alt="">
                            </a>
                            <div class="post-body">
                                <div class="post-category">
                                    <a href="category.html">Trabajo</a>
                                </div>
                                <h3 class="post-title title-sm">
                                    <a href="blog-post.html">¿Cuáles son los derechos laborales de las personas migrantes en Chile?</a>
                                </h3>
                                <ul class="post-meta">
                                    <li>
                                        <a href="author.html">Chile te recibe</a>
                                    </li>
                                    <li>20 April 2018</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /post -->
                </div>
                <!-- /row -->
            </div>
            <br>
            <br>
            <div class="col-md-12">
                <!-- ad widget-->
                <div class="aside-widget text-center">
                    <br>
                    <a href="#" style="display: inline-block;margin: auto;">
                        <br>
                        <br>
                        <img class="img-responsive" src="images/885-escapada-a-chile-5900f8486ef0e.jpeg" alt="">
                    </a>
                </div>
                < <!-- /ad widget -->

                    <!-- social widget -->
                    <div class="aside-widget">
                        <div class="section-title">
                            <h2 class="title">Redes Sociales</h2>
                        </div>
                        <div class="social-widget">
                            <ul>
                                <li>
                                    <a href="#" class="social-facebook">
                                        <i class="fa fa-facebook"></i>
                                        <span>21.2K
                                            <br>Facebook</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="social-twitter">
                                        <i class="fa fa-twitter"></i>
                                        <span>10.2K
                                            <br>Twitter</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="social-google-plus">
                                        <i class="fa fa-google-plus"></i>
                                        <span>5K
                                            <br>Google+</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /social widget -->

                    <!-- category widget -->
                    <div class="aside-widget">
                        <div class="section-title">
                            <h2 class="title">Categorias</h2>
                        </div>
                        <div class="category-widget">
                            <ul>
                                <li>
                                    <a href="/Asset/trabajo.html">Trabajo
                                        <span>451</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">Vivienda
                                        <span>230</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">Educación
                                        <span>40</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">Salud
                                        <span>38</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">Transporte
                                        <span>24</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /category widget -->

                    <!-- newsletter widget -->

                    <!-- /newsletter widget -->

                    <!-- post widget -->
                    <!--
                    <div class="aside-widget">
                        <div class="section-title">
                            <h2 class="title">Popular Posts</h2>
                        </div>
                    -->
                    <!-- post -->
                    <!--
                        <div class="post post-widget">
                            <a class="post-img" href="blog-post.html">
                                <img src="./img/widget-3.jpg" alt="">
                            </a>
                            <div class="post-body">
                                <div class="post-category">
                                    <a href="category.html">Lifestyle</a>
                                </div>
                                <h3 class="post-title">
                                    <a href="blog-post.html">Ne bonorum praesent cum, labitur persequeris definitionem quo cu?</a>
                                </h3>
                            </div>
                        </div>
                        -->
                    <!-- /post -->

                    <!-- post -->
                    <!--
                        <div class="post post-widget">
                            <a class="post-img" href="blog-post.html">
                                <img src="./img/widget-2.jpg" alt="">
                            </a>
                            <div class="post-body">
                                <div class="post-category">
                                    <a href="category.html">Technology</a>
                                    <a href="category.html">Lifestyle</a>
                                </div>
                                <h3 class="post-title">
                                    <a href="blog-post.html">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a>
                                </h3>
                            </div>
                        </div>
                        -->
                    <!-- /post -->

                    <!-- post -->
                    <!--
                        <div class="post post-widget">
                            <a class="post-img" href="blog-post.html">
                                <img src="./img/widget-4.jpg" alt="">
                            </a>
                            <div class="post-body">
                                <div class="post-category">
                                    <a href="category.html">Health</a>
                                </div>
                                <h3 class="post-title">
                                    <a href="blog-post.html">Postea senserit id eos, vivendo periculis ei qui</a>
                                </h3>
                            </div>
                        </div>
                        -->
                    <!-- /post -->

                    <!-- post -->
                    <!--
                        <div class="post post-widget">
                            <a class="post-img" href="blog-post.html">
                                <img src="./img/widget-5.jpg" alt="">
                            </a>
                            <div class="post-body">
                                <div class="post-category">
                                    <a href="category.html">Health</a>
                                    <a href="category.html">Lifestyle</a>
                                </div>
                                <h3 class="post-title">
                                    <a href="blog-post.html">Sed ut perspiciatis, unde omnis iste natus error sit</a>
                                </h3>
                            </div>
                        </div>
                        -->
                    <!-- /post -->
            </div>
            <!-- /post widget -->
        </div>
    </div>
    <!-- /row -->
    </div>
    <!-- /container -->
    </div>
    <!-- /SECTION -->

    <!-- avisos
    ================================================== -->
    <br>
    <section id="clients" class="s-clients">

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Avisos</h3>
                <h1 class="display-2">Encuentra empleos, alquileres, cualquier tipo de dato de ayuda.</h1>
            </div>
        </div>
        <!-- end section-header -->

        <div class="row clients-outer" data-aos="fade-up">
            <div class="col-full">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Operarios de Producción para La Cisterna (Lunes a Viernes)</h5>
                                        <p class="card-text">Lugar de Trabajo: San Bernardo, Región Metropolitana Publicado: Publicado hace 14
                                            días Salario No especificado Tipo de puesto: Full-time Área: Producción Importante
                                            empresa dedicada a la producción, elaboración y comercialización de alimentos
                                            se encuentra en búsqueda de Operarios de Producción para trabajar en La Cisterna.
                                            Se ofrece Renta liquida de $ 330.000 Lugar de trabajo: La Cisterna Horarios Lunes
                                            a Viernes turno día</p>
                                        <a href="#" class="btn btn-primary">Postular!</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Departamento en Arriendo Pedro Fontova , Huechuraba, Santiago</h5>
                                        <p class="card-text">Departamento a pasos de locales comerciales, bancos, farmacias mall plaza norte caminando
                                            a 3 cuadras, excelente conectividad, limpio y muy bien cuidado !!! 3 dormitorios,2
                                            baños, estacionamiento y bodega requisitos de arrendamiento arrendatario. - c.
                                            Identidad (extranjeros residencia definitiva). - 3 liq. Sueldo (renta igual o
                                            superior a 3. 5 rentas de arriendo). -copia contrato trabajo. -certificado afp
                                            ultimas 24 cotizaciones. -certificado informes comercial al día codeudor solidario
                                            (obligatorio) mismos requisitos arrendatario "arriendo es documentado anualmente"
                                            departamento sin muebles (fotos referenciales) cordinar visitas al whatsapp</p>
                                        <a href="#" class="btn btn-primary">Contactar!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">CLASES GRATUITAS DE ESPAÑOL PARA HAITIANOS</h5>
                                        <p class="card-text">KOU ESPANYÓL GRATIS! Nan kontèks pwogram fran-alman pou imigrasyon (Migr’artes) e
                                            avèk volonte akonpanye prosesis entegrasyon imigran yo ki pa ko pale espanyòl,
                                            Goethe Institut, envite tout imigran ayisyen nan kou espanyòl. Pou enfòrmasyon
                                            ak enskripsyon kontakte juliane.kiss@goethe.de pou w enskri w ap voye yn CV ak
                                            yon lèt motivasyon ki fet an fransè. Kòmanse: madi 13 jen 2017 Defini: 6 semèn
                                            Madi e vandredi depi 9vè30 nan maten jiska inè nan aprè midi. Plas: Sala Federico
                                            García Lorca Museo de la Solidaridad Salvador Allende Av. República 475, Santiago.</p>
                                        <a href="#" class="btn btn-primary">Contactar!</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Departamento HomeStudio ubicado a 2 minutos caminando de la estación de Metro Santa
                                            Ana.
                                        </h5>
                                        <p class="card-text">Cuenta con un living, cocina equipada de tipo americana, cama de 2 plazas, 2 veladores,
                                            clóset, baño y balcón. El departamento tiene 30 m² aproximadamente. El edificio
                                            tiene servicios como gimnasio, piscina, quincho para hacer carne asada (barbecue),
                                            sala multiuso y lavandería cuyo valor es de $1.000.- CLP por carga de ropa (lavado
                                            o secado). A la tarifa se deben agregar los gastos extras (gastos comunes, electricidad,
                                            agua fría, agua caliente e internet) que suman $ 75.000.- CLP aproximadamente.
                                            Se debe pagar garantía (depósito) la que será devuelta al finalizar el período
                                            de arriendo, además se debe pagar $ 20.000. - CLP por concepto del limpieza final.
                                            Cerca se encuentra el barrio República en el cual hay una gran variedad de Universidades
                                            (Universidad de Chile, Universidad Diego Portales, Universidad Andrés Bello,
                                            entre otras) e institutos profesionales. El barrio Brasil se encuentra a unos
                                            8 minutos caminando del lugar, se caracteriza por su gran variedad de bares,
                                            cafés y restoranes. Es posible incluir estacionamiento por un valor extra. Valor
                                            $270.000
                                        </p>
                                        <a href="#" class="btn btn-primary">Contactar!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- fin avisos -->


        <!-- end client-testimonials -->

    </section>
    <!-- end s-clients -->
    <div class="contact-secondary">
        <div class="contact-info">
            <div class="row">
                <div class="aside-widget">
                    <div class="section-title">
                        <h2 class="title">Contactenos</h2>
                    </div>
                    <div class="newsletter-widget">
                        <form>
                            <p>Si quieres recibir noticias y documentación de ayuda subscribete!</p>
                            <input class="input" name="newsletter" placeholder="Ingrese su correo">
                            <button class="primary-button">Subscribe</button>
                        </form>
                    </div>
                </div>

                <ul class="contact-social">
                    <li>
                        <a href="#">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-behance" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-dribbble" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
                <!-- end contact-social -->
            </div>
        </div>
        <!-- end contact-info -->
    </div>
    <!-- end contact-secondary -->

    <!-- footer
    ================================================== -->
    <footer>

        <div class="row footer-bottom">

            <div class="col-twelve">
                <div class="copyright">
                    <span>© Copyright Glint 2017</span>
                    <span>Site Template by
                        <a href="https://www.colorlib.com/">Colorlib</a>
                    </span>
                </div>

                <div class="go-top">
                    <a class="smoothscroll" title="Subir" href="#top">
                        <img src="images/up.png" alt="">
                        <i class="icon-arrow-up" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

        </div>
        <!-- end footer-bottom -->

    </footer>
    <!-- end footer -->


    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div>
    <!-- end photoSwipe background -->


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale-pulse-out">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/argon.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script src="{% static 'js/argon.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>